body {
  margin: 0;
  font-family: "Sansation", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.polygon-label.leaflet-tooltip {
  background: "white";
  border: none;
  box-shadow: none;
  font-family: inherit;
  padding: 0;
}

.polygon-label.leaflet-tooltip::before {
  display: none;
}
